[Desktop Entry]
Encoding=UTF-8
Name=KatKoyn Core
Comment=Connect to the KatKoyn P2P Network
Comment[de]=Verbinde mit dem KatKoyn peer-to-peer Netzwerk
Comment[fr]=KatKoyn, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KatKoyn, eşten eşe kriptografik sanal para birimi
Exec=katkoyn-qt %u
Terminal=false
Type=Application
Icon=katkoyn128
MimeType=x-scheme-handler/katkoyn;
Categories=Office;Finance;
